* {
    margin: 0;
    padding: 0;
  
  }
  
  @font-face {
    font-family: MinhaFonte;
    src: url(LearningCurve.ttf);
  }
  
  body {
    background-color: #000000;
    overflow-x: hidden;
    color: rgb(255, 255, 255);
    background-image: url(../assets/img/background.png)
  
  
  }
  
  header {
  
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    background-color: #000000;
    color: #ffffff;
    padding: 2%;
    margin: 1%;
  
  }
  nav {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  
  }
  
  nav a {
    text-decoration: none;
    color: rgb(255, 255, 255);
  
  }
  .botoes {
    display: flex;
    gap: 1rem;
    align-items: end;
    justify-content: flex-end;
  
  }
  
  .botoes a {
    text-decoration: none;
    color: #ffffff;
  }
  .botoes a:hover{
    color: rgb(255, 0, 0);
    transition: 0.25s ease;
  }
  h3{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
    font-family: MinhaFonte;
    font-size: 50px;
    color: rgb(92, 8, 91);
  }
  h2{
    color: rgb(230, 171, 229);
  }
  .pele{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
    
  }
  li{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    
  }
  p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    
  }
  #tipoPele{
    height: 26px;
    width: 140px;
    font-size: 20px;
    border-radius: 10px;
  }